* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(69, 117, 117);
    text-align: center;
}

h1 {
    background-color: rgb(21, 10, 49);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    font-size: 3.2rem;
}

.user-choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: rgb(21, 10, 49);
}

.img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#img2 {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 2rem;
}

.comp-choices{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img1 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 2rem;
    left: 44.5%;
    border-radius: 50%;
    object-fit: cover;
}

.choice3 {
    display: none;
}

.choice2 {
    display: none;
}

.choice1 {
    display: none;
}

.pannel {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.h2 {
    display: flex;
    justify-content: center;
    width: 15rem;
    align-items: center;
    margin-top: -400px;
    background-color: rgb(38, 23, 77);
    height: 50px;
    color: #fff;
 }

.board {
    display: flex;
    justify-content: center;
    width: 15rem;
    align-items: center;
    margin-top: -15px;
    background-color: rgb(38, 23, 77);
    height: 600px;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: -410px;
}

.score {
    font-size: 1.5rem;
    color: #fff;
}

#user-score {
    font-size: 3rem;
}

#comp-score {
    font-size: 3rem;
}

.msg {
    display: flex;
    justify-content: center;
    width: 10rem;
    align-items: center;
    margin-top: -300px;
    margin-left: 43px;
    height: 100px;
    color: #fff;
    font-size: 3rem;
    background-color: rgb(43, 134, 156);
    border-radius: 1rem;
}

.msg:hover {
    background-color: #0a29b1;
}